@import url("https://fonts.googleapis.com/css2?family=Anton&family=Zalando+Sans+Expanded:ital,wght@0,200..900;1,200..900&display=swap");

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@media (prefers-reduced-motion: no-preference) {
  @view-transition {
    navigation: auto;
  }

  ::view-transition-group(root) {
    animation-duration: 0.4s;
  }
}

:root {
  --font-display: "Anton", sans-serif;
  --font-main: "Zalando Sans Expanded", sans-serif;

  --color-bg: #ffffff;
  --color-fg: #000000;
  --color-accent: #ff3864;

  --border-radius-base: 0.25rem;
}

html,
body {
  margin: 0;
  color: var(--color-fg);
  font-family: var(--font-main);
  font-weight: 300;
  scroll-behavior: smooth;
}

body {
  padding: 1rem;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-main);
  font-weight: 900;
  text-transform: uppercase;
}
