---
import Layout from "../layouts/Layout.astro";
import type { Transcription } from "../types/transcription";
import data from "../../data/transcriptions.json";
import { makeOgImageUrl } from "../lib/cloudinary";
import { latestN } from "../lib/transcriptions";
import PageHeader from "../components/PageHeader.astro";
import PageSubtitle from "../components/PageSubtitle.astro";
import TranscriptionList from "../components/TranscriptionList.astro";

const transcriptions: Transcription[] = data || [];
const latest = latestN(transcriptions, 3);
const pageUrl = Astro.site;
const ogUrl = makeOgImageUrl("Free drum transcriptions");
---

<Layout
  title="Free drum transcriptions by DRUMSAUCE"
  description="Browse free PDF downloads of rock, metal and jazz music transcriptions for drummers. Created by human ears and hands, no AI involved."
  image={ogUrl}
  url={pageUrl}
  active="home"
>
  <div class="top">
    <PageHeader text="Free drum transcriptions" />
    <PageSubtitle text="Latest" />
  </div>
  <TranscriptionList transcriptions={latest} />
</Layout>

<style>
  .top {
    display: flex;
    gap: 2rem;
    flex-direction: column;
  }
</style>
