---
const { text, vtName } = Astro.props;
---

<h1 style={vtName && `view-transition-name: ${vtName};`}>
  {text}
</h1>

<style>
  h1 {
    font-family: var(--font-display);
    font-size: clamp(2.5rem, 7vw, 8rem);
    line-height: 1;
    text-wrap: balance;
    text-align: right;
  }
</style>
